/*monthpicker*/

.ks-datepicker-monthpicker .ks-datepicker-title {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px ;
}

.ks-datepicker-monthpicker .ks-datepicker-field {
    display: block;
    font-size: 13px;
    height: 40px;
    width: 130px;
    border: 1px solid #C3CED5;
    border-radius: 8px;
}

.ks-datepicker-monthpicker .ks-datepicker-icon {
    color: #007AFF;
    font-size: 20px;
    left: 14px;
    line-height: 20px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
}


.ks-datepicker-monthpicker .ks-datepicker-input {
    font-size: 14px;
    margin-left: 10px;
    color: #000000;
    width: 90px;
}


.ks-datepicker-monthpicker .ks-datepicker-panel {
    background-color: #fff;
    border: 1px solid #C3CED5;
    border-radius: 7px;
    padding: 4px 4px 0;
}

.ks-datepicker-monthpicker .ks-datepicker-panel-header {
    border-bottom: 1px solid #eceff1;
    padding: 13px 0;
}

.ks-datepicker-monthpicker .ks-datepicker-panel-year {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    margin: 0 10px;
}

.ks-datepicker-monthpicker .ks-datepicker-panel-pager {
    background-color: #007AFF;
    border-radius: 50%;
    height: 18px;
    padding-top: 5px;
    width: 18px;
}

.ks-datepicker-monthpicker .ks-datepicker-panel-pager:after {
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    height: 0;
    padding: 0;
    width: 0;
}

.ks-datepicker-monthpicker .ks-datepicker-panel-pager.ks-left {
    padding-left: 5px;
}

.ks-datepicker-monthpicker .ks-datepicker-panel-pager.ks-left:after {
    border-right: 6px solid #fff;
}

.ks-datepicker-monthpicker .ks-datepicker-panel-pager.ks-right {
    padding-left: 6px;
}

.ks-datepicker-monthpicker .ks-datepicker-panel-pager.ks-right:after {
    border-left: 6px solid #fff;
}

.ks-datepicker-monthpicker .ks-datepicker-panel-months {
    display:none;
    border-bottom: 1px solid #eceff1;
    padding: 5px 0;
}

.ks-datepicker-monthpicker .ks-datepicker-panel-month-item {
    border-radius: 7px;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
}

.ks-datepicker-monthpicker .ks-datepicker-panel-month-item.on {
    background-color: #007AFF;
    color: #FFFFFF;
}

.ks-datepicker-monthpicker .ks-datepicker-panel-days {
    display: none;
}