.ks-text-cell_1_title .ks-text-inner {
    display: flex;
}

.ks-text-cell_1_title .ks-text-title {
    font-size: 13px;
    align-content:center;
    white-space: nowrap;
    overflow: hidden;            /* Hides any overflow text */
    text-overflow: ellipsis;     /* Adds the "..." when the text overflows */
}

.ks-text-cell_data_title .ks-text-title {
    font-size: 13px;
    align-content:center;
    white-space: nowrap;
    overflow: hidden;            /* Hides any overflow text */
    text-overflow: ellipsis;     /* Adds the "..." when the text overflows */
}

.ks-text-cell_1_title .ks-text-icon {
    font-size: 40px;
    color: #007AFF;
    order: 1 !important;
}

.ks-text-menu .ks-text-title{
    font-weight: 600;
    margin-bottom: 5px;
    margin-left: -15px;
}

.ks-text-menu .ks-text-body{
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 8px;
}

.ks-text-menu .ks-text-inner{
    margin-left: 18px;
}

.ks-text-menu2 .ks-text-title{
    font-weight: 600;
    margin-bottom: 5px;
    margin-left: -15px;
}

.ks-text-menu2 .ks-text-body{
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 8px;
}

.ks-text-menu2 .ks-text-inner{
    margin-left: 18px;
}

/*badmin panle text*/
.ks-text-admin_panel .ks-text-inner {
    height: 40px;
    padding-top: 2px;
}

.ks-text-admin_panel .ks-text-title {
    font-weight: normal;
    font-size: 15px;
    padding-top: 11px;
}


/* delta_report_data*/
.ks-text-delta_report_data .ks-text-inner {
    height: 40px;
}

.ks-text-delta_report_data .ks-text-title {
    padding-top: 13px;
    font-weight: normal;
    font-size: 13px;
    justify-content: end;
}

.ks-text-delta_report_data .ks-text-title-input {
    font-weight: bold;
    font-size: 14px;
    border-width: 0px;
    width: 80px;
    justify-content: end;
    color: #0B41CD;
}

.ks-text-panel_menu .ks-text-inner {
    height: 40px;
    cursor: pointer;
    padding-top: 2px;
    background: transparent linear-gradient(180deg, #0076FF 0%, #00BAFF 80%, #00BAFF 100%) 0% 0% no-repeat padding-box;
    width: 40px;
    border-radius: 9px;
    opacity: 1;

}

.ks-text-panel_menu .ks-text-title {
    font-weight: normal;
    color: #747678;
    font-size: 14px;
    padding: 5px;
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 5px;
    white-space: nowrap;
}

.ks-text-panel_menu .ks-text-icon {
    color: #FFFFFF;
    font-size: 40px;
    float: left;
    position: relative;
    height: 40px;
}

.ks-text-slide_menu .ks-text-title {
    margin-bottom: 5px;
    margin-left: -17px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.ks-text-slide_menu .ks-text-inner {
    margin-left: 18px;
}

.ks-text-menu-list .ks-text-inner {
    height: 40px;
    cursor: pointer;
    padding-top: 2px;
    background-color: transparent;
    width: 40px;
    border-radius: 8px;
    opacity: 1;

}

.ks-text-menu-list .ks-text-title {
    font-weight: normal;
    color: #747678;
    font-size: 14px;
    padding: 5px;
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 5px;
    white-space: nowrap;
}

.ks-text-menu-list .ks-text-icon {
    color: #007AFF;
    font-size: 60px;
    float: left;
    position: relative;
    margin-top: -17px;
    height: 40px;
    margin-left: -10px;
}
.ks-text-menu-side-bar .ks-text-inner {
    height: 40px;
    cursor: pointer;
    padding-top: 2px;
    background-color: transparent;
    width: 40px;
    border-radius: 8px;
    opacity: 1;

}

.ks-text-menu-side-bar .ks-text-title {
    font-weight: normal;
    color: #747678;
    font-size: 14px;
    padding: 5px;
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 5px;
    white-space: nowrap;
}

.ks-text-menu-side-bar .ks-text-icon {
    color: #007AFF;
    font-size: 60px;
    float: left;
    position: relative;
    height: 40px;
    margin-top: -15px;
    margin-left: -9px;
}
.ks-text-filter_button_circle .ks-text-inner {
    width: 240px;
    height: 40px;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    padding-top: 2px;
    padding-left: 5px;
}

.ks-text-filter_button_circle .ks-text-title {
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    padding-top: 8px;
}

.ks-text-filter_button_circle .ks-text-icon {
    float: left;
    position: relative;
    margin-top: -3px;
    font-size: 40px;
    height: 30px;
}


.ks-text-filter_text {
    min-height: 60px;
}

.ks-text-filter_text .ks-text-inner {
    width: 240px;
    background-color: #f2f2f2;
    border-radius: 0 0 20px 20px;
    margin-right: 10px;
}

.ks-text-filter_text .ks-text-title {
    font-weight: normal;
    color: #000000;
    font-size: 13px;
    padding-top: 10px;
    margin-left: 15px;
    padding-bottom: 13px;
    margin-right: 48px;
}

.ks-text-filter_text .ks-text-icon:before {
    float: right;
    width: 18px;
    height: 19px;
    margin-right: 16px;
    margin-top: -2px;
    content: "\edcc";
    font-size: 35px;
    font-family: analogic;
    color: #A9A9A9;
}

/*filter text when nothing is chosen*/

.ks-text-filter_text_disabled {
    min-height: 60px;
}

.ks-text-filter_text_disabled .ks-text-inner {
    width: 240px;
    background-color: #FFFFFF;
    border-radius: 0 0 20px 20px;
    margin-right: 10px;
}

.ks-text-filter_text_disabled .ks-text-title {
    font-weight: normal;
    color: #FFFFFF;
    font-size: 13px;
    padding-top: 10px;
    margin-left: 15px;
    padding-bottom: 13px;
    margin-right: 48px;
}

.ks-text-filter_text_disabled .ks-text-icon:before {
    float: right;
    width: 18px;
    height: 19px;
    margin-right: 10px;
    font-size: 30px;
}
/*filter button*/
.ks-text-filter_button .ks-text-inner {
    width: 240px;
    height: 40px;
    background-color: #f2f2f2;
    border-radius: 20px 20px 0 0;
    margin-right: 10px;
    border-bottom: 2px solid #E1E1E1;
    padding-top: 2px;
    padding-left: 5px;
}

.ks-text-filter_button .ks-text-title {
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    padding-top: 8px;
}

.ks-text-filter_button .ks-text-icon {
    float: left;
    position: relative;
    margin-top: -3px;
    font-size: 40px;
    height: 30px;
}
